@use "../../../../assets/sass/abstracts/variables" as v;
@use "../../../../assets/sass/abstracts/mixins" as m;

.skills_body-experience{
  $list : v.$background-dark-alpha 33%, #ffffff00 40% ; 
  @include m.gradient(bottom, $list);
   border-radius: 7px; 
}

.experience-item {

 
  &_title{
    font-size: 1.3em;
    font-weight: 500;
    color: v.$primary-color;
  }

  &_subTitle{
    font-size: 0.8em;
    font-weight: 300;
    color: v.$primary-color-light;
  }
  &_hashtag{
    font-size: 1em;
    font-weight: 500;
    color: v.$text-color;
  
  }


}
.ant-timeline-item-tail {
  inset-inline-start: 20% !important;
}
.ant-timeline-item-head {
  inset-inline-start: calc(20% - 1px) !important;
  width: 15px !important;
  height: 15px !important;
}
.ant-timeline-item-label {
  width: calc(18% - 12px) !important;
}

.ant-timeline-item-content {
  width: calc(75% - 12px) !important;
  inset-inline-start: calc(22% - 4px) !important;
  padding: 0px 0px 0px 0px !important;
}
