@use"../../assets/sass/abstracts/variables" as v;
@use"../../assets/sass/abstracts/mixins" as m;


.projectList{
    box-sizing: border-box;
    min-width: 350px;
    width: 100%;
    border-radius: 5px;
    padding: 0.5em;
 
   // background-color: v.$background-medium-alpha;

    display: grid;
    grid-template-columns: repeat(2, minmax(350px, 650px));
    gap: 2em;
    
    justify-items: center;
    align-items: center;
    justify-content: center;

    
    gap: 1em;


    @include m.media(desktop){
        grid-template-columns: repeat(1, 1fr);  
         padding: 0.5em 1.5em;
    }
  }