#ProjectCard_x5F_layout-desktop{
	.st0{fill:#CBCFD7;}
	.st1{fill:#AAAFBA;}
	.st2{fill:#676D77;}
	.st3{fill:#FFFFFF;}
	.st4{fill:#202135;}
	.st5{fill:#E5E7EB;}
	.st6{fill:#7DBFE6;}
	.st7{fill:#8F97A2;}


}


#ProjectCard_x5F_layout-mobile{

	.st0{fill:#CBCFD7;}
	.st1{fill:#AAAFBA;}
	.st2{fill:#676D77;}
	.st3{fill:#FFFFFF;}
	.st4{fill:#202135;}
	.st5{fill:#E5E7EB;}
	.st6{fill:#7DBFE6;}
	.st7{fill:#8F97A2;}
}



#ProjectCard_x5F_layout-tablet{
	.st0{fill:#CBCFD7;}
	.st1{fill:#AAAFBA;}
	.st2{fill:#676D77;}
	.st3{fill:#FFFFFF;}
	.st4{fill:#202135;}
	.st5{fill:#E5E7EB;}
	.st6{fill:#7DBFE6;}
	.st7{fill:#8F97A2;}
}